@{
    Layout = "";
}
@model Nop.Plugin.Widgets.LiveSupportiChat.Models.ConfigurationModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="adminContent">
        <tr>
            <td class="adminTitle" colspan="2">
                <span style="margin:20px 0px;display:block;">Add live chat to your nopCommerce website by following the steps below:</span>
                <h3>Step 1</h3>
                <p>Get your LiveSupporti code snippet from <a href="https://livesupporti.com/home" target="_blank">here</a>&nbsp;(Don't have a LiveSupporti account? <a href="https://livesupporti.com/signup" target="_blank">Sign up now</a>).</p>
                <h3>Step 2</h3>
                <p>Copy the code snippet and paste it into the textbox below.</p>
                <h3>Step 3</h3>
                <p>Click Save.</p>
                <br />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.WidgetCodeSnippet):
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.WidgetCodeSnippet, new { style = "width: 600px;" })
                @Html.ValidationMessageFor(model => model.WidgetCodeSnippet)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" style="margin-top:20px;"/>
            </td>
        </tr>
    </table>
}