@model CityModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.City.AddNew").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "city-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
            @T("Admin.Configuration.City.AddNew") @Html.ActionLink("(" + T("Admin.Configuration.City.BackToList") + ")", "CityList")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateCity", Model)
}